################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/Ntq.TimeLogger/v16
/src/Ntq.TimeLogger/obj/
/src/Ntq.TimeLogger/bin/
/src/Ntq.TimeLogger.ConsoleApp/bin/
/src/Ntq.TimeLogger.ConsoleApp/obj/
